<div class="tab modifiers" data-group="primary" data-tab="modifiers">
  <div class="mods">
    <div class="headings flexrow flex-group-center">
      <span class="flex-grow1">{{localize "wh3e.category.attr"}}</span>
      <span class="flex-grow1">{{localize "wh3e.attribute.bonus"}}</span>
      <span class="flex-grow1">{{localize "wh3e.attribute.damage"}}</span>
    </div>
     {{#each data.attributes as |attribute key|}}
     <div class="attributeBonus flexrow flex-group-center">
      <label for="data.attributes.{{key}}.bonus" class="flex-grow1 rollable" data-roll-for="{{key}}"><span
            class="fas fa-dice"></span>{{getTextFromKey "wh3e.attribute" key}}</label>
      <input type="text" name="data.attributes.{{key}}.bonus" value="{{attribute.bonus}}" data-dtype="Number"
           class="flex-grow1 bonus read-only" readonly="readonly"
      <input type="text" name="data.attributeDamage.{{key}}.value" value="{{attributeDamage.value}}" data-dtype="Number"
                 class="flex-grow1 attribute-damage" />
    </div>  
    {{/each}}
    <div class="fortune flexrow flex-group-center">

        <label for="data.fortune" class="rollable fortune" data-roll-for="fortune"><i
             class="fas fa-dice"></i>&nbsp;{{localize
              "wh3e.actor.fortune"}}</label>
        <div class="flexrow flex-center">
          <input type="text" name="data.fortune" value="{{data.fortune}}" data-dtype="Number"
                 title="{{localize "wh3e.tooltip.Fortune"}}" />
        </div>
    </div>
  </div>
</div>
